.filter-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search-bar{
    width: 50%;
}
.chart-button{
    width: 4rem;
    height: 3rem;
}
@media screen and (width < 472px) {
    .filter-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .search-bar{
        width: auto;
    }
}